.nav a {
    color: #ccc;
    margin: 20px 0px 0px 3px;
}

.nav a:hover {
    color: #ccc;
    opacity: .7;
}

.nav .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #333;
    padding: 8px 19px;
}
.nav .nav-link:hover {
    color: green;
}